### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
tienda2.head()
tienda3.head()
tienda4.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Lavavajillas,Electrodomésticos,1084800.00,56000.00,11/11/2022,Rafael Acosta,Bogotá,4,Tarjeta de crédito,3,4.61,-74.08
1,Cama box,Muebles,473800.00,25400.00,03/01/2020,Izabela de León,Cúcuta,5,Tarjeta de crédito,2,7.89,-72.51
2,Balón de baloncesto,Deportes y diversión,23700.00,0.00,25/12/2022,Maria Alfonso,Medellín,5,Nequi,1,6.25,-75.56
3,Modelado predictivo,Libros,57700.00,1300.00,23/11/2021,Lucas Olivera,Medellín,3,Nequi,1,6.25,-75.56
4,Auriculares,Electrónicos,138900.00,5600.00,25/04/2022,Blanca Ramirez,Bogotá,4,Tarjeta de crédito,7,4.61,-74.08

In [ ]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

#1. Análisis de facturación

In [ ]:
def ingresos_totales(tiendas: list = None) -> list:
    if not tiendas:
        return []
    return [df['Precio'].sum().item() for df in tiendas]

In [ ]:
tiendas = [tienda, tienda2, tienda3, tienda4]

In [ ]:
ingresos_totales(tiendas)

[1150880400.0, 1116343500.0, 1098019600.0, 1038375700.0]

# 2. Ventas por categoría

In [ ]:
def ventas_por_categoria(tiendas: list = None) -> list:
    if not tiendas:
        return []
    resultados = []
    for df in tiendas:
        # value_counts() es una Serie con el conteo por categoría
        conteo = df['Categoría del Producto'].value_counts()
        resultados.append(conteo)
    return resultados

In [ ]:
ventas_por_categoria(tiendas)

[Categoría del Producto
 Muebles                    465
 Electrónicos               448
 Juguetes                   324
 Electrodomésticos          312
 Deportes y diversión       284
 Instrumentos musicales     182
 Libros                     173
 Artículos para el hogar    171
 Name: count, dtype: int64,
 Categoría del Producto
 Muebles                    442
 Electrónicos               422
 Juguetes                   313
 Electrodomésticos          305
 Deportes y diversión       275
 Instrumentos musicales     224
 Libros                     197
 Artículos para el hogar    181
 Name: count, dtype: int64,
 Categoría del Producto
 Muebles                    499
 Electrónicos               451
 Juguetes                   315
 Electrodomésticos          278
 Deportes y diversión       277
 Libros                     185
 Instrumentos musicales     177
 Artículos para el hogar    177
 Name: count, dtype: int64,
 Categoría del Producto
 Muebles                    480
 Electrónicos               451
 Juguetes                   338
 Deportes y diversión       277
 Electrodomésticos          254
 Artículos para el hogar    201
 Libros                     187
 Instrumentos musicales     170
 Name: count, dtype: int64]

# 3. Calificación promedio de la tienda

In [ ]:
def cal_promedio(tiendas: list = None) -> list:
    if not tiendas:
        return []
    return [round(df['Calificación'].mean(),2).item() for df in tiendas]

In [ ]:
cal_promedio(tiendas)

[3.98, 4.04, 4.05, 4.0]

#3.1 Calificación promedio de la tienda a través del tiempo

In [ ]:
# Necesitamos conocer la estructura de la fecha y tratar de homologarla

type(tienda['Fecha de Compra'])
print(max(tienda['Fecha de Compra']))
print(min(tienda['Fecha de Compra']))

31/12/2022
01/01/2020

## Se procede a calcular el promedio de la tienda por mes

In [ ]:
import pandas as pd

def procesar_tienda(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    # Indicamos dayfirst=True para dd/mm/YYYY
    df['Fecha de Compra'] = pd.to_datetime(
        df['Fecha de Compra'],
        dayfirst=True,          # <- aquí
        errors='coerce'         # convierte en NaT los que no pueda parsear
    )
    df['MES'] = df['Fecha de Compra'].dt.to_period('M')
    return df

# Ejemplo con una lista de DataFrames
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
tiendas_procesadas = [procesar_tienda(df) for df in lista_tiendas]

print(tienda[['Fecha de Compra','MES']].head())
print(tienda2[['Fecha de Compra','MES']].head())
print(tienda3[['Fecha de Compra','MES']].head())
print(tienda4[['Fecha de Compra','MES']].head())

  Fecha de Compra      MES
0      2021-01-16  2021-01
1      2022-05-18  2022-05
2      2021-03-15  2021-03
3      2022-05-03  2022-05
4      2020-11-07  2020-11
  Fecha de Compra      MES
0      2021-08-04  2021-08
1      2020-11-26  2020-11
2      2021-10-22  2021-10
3      2022-05-04  2022-05
4      2022-02-26  2022-02
  Fecha de Compra      MES
0      2021-12-17  2021-12
1      2021-02-10  2021-02
2      2023-01-22  2023-01
3      2022-03-22  2022-03
4      2022-01-12  2022-01
  Fecha de Compra      MES
0      2022-11-11  2022-11
1      2020-01-03  2020-01
2      2022-12-25  2022-12
3      2021-11-23  2021-11
4      2022-04-25  2022-04

In [ ]:
promedio_calif_por_mes = (
    tienda.groupby('MES')['Calificación'].mean()
    .reset_index(name='Promedio Calificación')
)

print(promedio_calif_por_mes)

#Gráfica de calificación promedio en el tiempo de la tienda 1

In [ ]:
from matplotlib import pyplot as plt

promedio_calif_por_mes.info()
promedio_calif_por_mes['Promedio Calificación']
promedio_calif_por_mes['Fecha'] = promedio_calif_por_mes['MES'].dt.to_timestamp()

plt.plot(promedio_calif_por_mes['Fecha'],promedio_calif_por_mes['Promedio Calificación'])

In [ ]:
plt.plot(promedio_calif_por_mes['Fecha'],promedio_calif_por_mes['Promedio Calificación'])

# 4. Productos más y menos vendidos

In [ ]:
resultados = ventas_por_categoria(tiendas)
print(resultados[0])

In [ ]:
resultados = ventas_por_categoria(tiendas)

# Para obtener sólo los valores máximos y mínimos:
maximos = [s.max() for s in resultados]
minimos = [s.min() for s in resultados]

# Obteneido cada categoria
categorias_max = [s.idxmax() for s in resultados]
categorias_min = [s.idxmin() for s in resultados]

# Print max y minimo por categoria y tienda
for i, s in enumerate(resultados, start=1):
    print(f"Tienda {i}:")
    print("  Máximo:", s.max(), "en categoría", s.idxmax())
    print("  Mínimo:", s.min(), "en categoría", s.idxmin())

# 5. Envío promedio por tienda

In [ ]:
import pandas as pd

def envio_promedio(tiendas: list[pd.DataFrame] | None = None) -> pd.DataFrame:

    # Si no hay tiendas, devolvemos un DataFrame vacío con las mismas columnas
    if not tiendas:
        return pd.DataFrame(columns=['Tienda', 'Promedio'])

    filas: list[dict] = []
    # Recorremos cada DataFrame y calculamos su promedio
    for idx, df in enumerate(tiendas, start=1):
        # promedio
        promedio = df['Costo de envío'].mean()
        filas.append({
            'Tienda':   f'Tienda_{idx}',
            'Promedio': round(promedio,2)
        })

    # Construimos el DataFrame final
    df_promedios = pd.DataFrame(filas)
    return df_promedios

In [ ]:
resultados_promedios=envio_promedio(tiendas)

In [ ]:
df_ordenado = resultados_promedios.sort_values('Promedio', ascending=False)
print(df_ordenado)

# Total de Ganancias
Diferencia entre ventas totales y gastos totales.
Se sumaran todas las ventas de cada tienda, para posteriormente restar la suma de gastos de envio.

In [ ]:
import pandas as pd

def profit(tiendas: list[pd.DataFrame] | None = None) -> pd.DataFrame:

    # Si no hay tiendas, devolvemos un DataFrame vacío con las mismas columnas
    if not tiendas:
        return pd.DataFrame(columns=['Tienda', 'Promedio'])

    filas: list[dict] = []
    # Recorremos cada DataFrame y calculamos su promedio
    for idx, df in enumerate(tiendas, start=1):
        # promedio
        costo = df['Costo de envío'].sum()
        venta = df['Precio'].sum()
        ingreso=venta-costo
        filas.append({
            'Tienda':   f'Tienda_{idx}',
            'Ganancia': round(ingreso,2)
        })

    # Construimos el DataFrame final
    df_ingreso = pd.DataFrame(filas)
    return df_ingreso

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

profit(tiendas)

#GRÁFICOS
1) Gráfico de líneas con gráfico de barras

In [ ]:
from matplotlib import pyplot as plt

# Gráficar con precios vs costo envio

precios = ingresos_totales(tiendas)
resultados_promedios=envio_promedio(tiendas)
print(resultados_promedios['Promedio'])
print(precios)
plt.bar(resultados_promedios['Tienda'], precios, alpha =0.5)
plt.bar(resultados_promedios['Tienda'][0], precios[0],)
#FACTURACION DE LAS TIENDAS
plt.title('Costo de envio por Tienda')

#Gráfica de pastel

##Ventas totales de cada tienda

In [ ]:
precios = ingresos_totales(tiendas)
plt.pie(precios, labels = ['Tienda1','Tienda2','Tienda3','Tienda4'], autopct='%1.1f%%')
plt.title('Ventas totales por Tienda')

## Ventas por categoría de cada tienda

#**Análisis**

###**Ingresos:**

La **Tienda 1** y **Tienda 2** cuentan con mayor nivel de ingresos. Por otro lado la **Tienda 3** y **Tienda 4**, tienen menor nivel de ingresos.

###**Coste de envio:**

La **Tienda 1 y la Tienda 2** cuentan con un mayor costo de envio promedio. Esto se debe a su mayor nivel de ventas.

###**Ganancias:**

Las **Tiendas 1 y 2** cuentan con un mayor margen de ganancias.

###**Tendencia de calificación por tienda**


###**Ventas por categoría**

En todas las tiendas, el producto que más se vende son los muebles. En la **Tienda 1** y **2** la segunda categoría que más se vende es son los Artículos para el Hogar, mientras que en la **tienda 3 y 4** son los Instrumentos musicales

###**Conclusión**
De manera general, no existe una diferencia muy grande entre ventas, ingresos y ganancias entre las tiendas, pero si se debe tomar la decisión de cerrar una tienda, esta debería ser la **Tienda 4**.